<div class="git-demo-homepage-container">
    <div class="git-demo-homepage-header">
      <h1 class="git-demo-text">
        Welcome to git-demo!
      </h1>
      <span class="git-demo-logout" (click)="logoutClickHandler()">
        Logout
      </span>
    </div>
    <div>
      <form [formGroup]="searchForGithub" (ngSubmit)="searchForGithubProfile()">
        <div class="git-demo-search-container">
          <input formControlName="reprositoryName" type="text" placeholder="Please enter github username">
          <button class="git-demo-button" type="submit">Add To Grid</button>
        </div>
      </form>
    </div>
    <div class="git-demo-homepage-github-user-grid-container">
      <form [formGroup]="githubGridFormGroup">
        <!-- <input type="text" placeholder="search in grid" [(ngModel)]="searchText" (keydown)="onSearchTextChanges($event)"> -->
        <input type="text" placeholder="Search in grid" formControlName="gridSearch">
      </form>
      <table>
        <tr>
          <th>Login</th>
          <th>Name</th>
          <th>Avatar url</th>
          <th>Public repos</th>
          <th></th>
        </tr>
        <tr *ngFor="let eachGithubUserData of localStorageGithubUserListData; index as i">
          <td>{{eachGithubUserData.login}}</td>
          <td>{{eachGithubUserData.name}}</td>
          <td>{{eachGithubUserData.avatar_url}}</td>
          <td>{{eachGithubUserData.public_repos}}</td>
          <td class="git-demo-delete-button"><button (click)="deleteRowClickHandler(eachGithubUserData)">Delete</button></td>
        </tr>
        <tr class="git-demo-no-records-found" *ngIf="!(localStorageGithubUserListData && localStorageGithubUserListData.length > 0)">
          <td colspan="5">No Records found</td>
        </tr>
      </table>
    </div>
  </div>